* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     color: #bfbdc2;
     scrollbar-width: none;
}

/* Body */
.app {
     display: flex;
     flex-direction: column;
     background-color: #22232d;
     padding-bottom: 50px;
     width: 100vw;
}

.app__container {
     order: 2;
     display: flex;
     flex-direction: column;
     background-color: #1b1b1f;
     padding: 15px;
     margin: 8px;

}

/* Header */

.header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 0 10px;
     background-color: #2c2d38;
     border-radius: 15px;
}

.header__search-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 50px;
     width: 85%;
     gap: 5px;
}

.header__search-icon-container {
     width: 20px;
     height: 20px;
}

.header__search-icon {
     width: 100%;
     height: 100%;
}

.header__input {
     background-color: transparent;
     border: none;
     width: 100%;
     font-size: 18px;
}

.header__input:focus {
     outline: none;
}

.header__profile {
     width: 35px;
     height: 35px;
     border-radius: 50%;
}

/* Main */

.main {
     margin-top: 1.6rem;
}

.category {
     display: flex;
     flex-direction: column;
     margin-bottom: 1.2rem;
}

.category__header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1.2rem;

}

.category__title {
     font-size: 1.2rem;
}

.category__arrow-container {}

.category__arrow {
     width: 20px;
     height: 20px;
}

.category__scroll {
     display: flex;
     flex-direction: row;
     width: 100%;
}

.category__grid {
     display: flex;
     flex-direction: row;
     overflow-x: scroll;
     gap: 10px;
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;
     overscroll-behavior-x: contain;

}

.category__item {
     display: flex;
     flex-direction: column;
     min-width: 160px;
     max-width: 160px;
     min-height: 270px;
     max-height: 270px;
     flex: 0 0 160px 240px;
     transition: all 0.2s ease-out;
}

.category__item:hover {
     cursor: pointer;
     border: 2px solid #ffffff;
     border-radius: 13px;
     transform: scale(0.96);
     padding: 4px;
     transition: all 0.2s ease-out;
     transition: transform 0.2s ease-out;
}

.category__image-container {
     width: 100%;
     height: 100%;
     position: relative;
}

.category__item-image {
     width: 100%;
     height: 100%;
     border-radius: 10px;

}

.category__item-rating {
     position: absolute;
     top: 5px;
     right: 5px;
     padding: 3px 6px;
     border-radius: 8px;
     color: white;
     background-color: rgba(0, 0, 0, 0.632);
     z-index: 1;
     font-size: .8rem;
}

.category__item-title {
     margin-top: 5px;
     font-size: .9rem;
}

.nav {
     position: fixed;
     bottom: 0;
     left: 0;
     background-color: #282931;
     padding: 10px;
     width: 100%;
     z-index: 999;
}

.nav__menu {
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
}

.nav__item {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 2px;
     padding: 5px;
}

.nav__icon {
     width: 46px;
     height: 32px;
     padding: 5px 10px;
     border-radius: 10px;
}

.nav__icon-active {
     background-color: #42455d;
}

.nav__text {
     font-size: 0.8rem;
}

.nav__icon {}


@media screen and (width >=1024px) {

     .app{
          padding-bottom: 0;
     }
     .category__item {

          min-width: 242px;
          max-width: 242px;
          min-height: 370px;
          max-height: 400px;
          flex: 0 0 242px 400px;
     }

     .category__image-container {
          width: 100%;
          height: 100%;
     }

     .category__item-title {
          margin-top: 5px;
          font-size: 1.2rem;
     }


     .nav {
          display: flex;
          flex-direction: row;
          position: inherit;
          order: 1;
          width: 100%;
          padding: 20px 0;
     }

     .nav__menu {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-around;
     }

     .nav__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;
          padding: 5px;
     }

     .nav__icon {
          display: none;
     }

     .nav__icon-active {
          display: none;
     }

     .nav__text {
          font-size: 1.3rem;
          color: #ebebeb;
          font-weight: 600;
          cursor: pointer;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          transition: color 0.3s ease, transform 0.3s ease;

     }

     .nav__text:hover {
          color: #ffffff;
          transform: scale(1.1);
     }

     .nav__icon {}

}